$font-text: calc(12px + 0.5vw) Montserrat;
$primary-color: #333;
$input-color: #2200ff;
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#no {
    display: none;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font: $font-text;
    .filter__input {
        font-size: 90%;
        border: 1.5px solid $input-color;
        border-radius: 1vh;
        box-sizing: border-box;
        height: 5vh;
        width: 50vw;
    }

    .filter__input:focus {
        outline: none;
        -webkit-box-shadow: 0px 0px 8px 3px rgba(51, 51, 51, 0.2);
        -moz-box-shadow: 0px 0px 8px 3px rgba(51, 51, 51, 0.2);
        box-shadow: 0px 0px 8px 3px rgba(51, 51, 51, 0.2);
    }

    .filter__list {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1vh;
    }

    .filter__list li {
        width: 20vw;
        text-align: center;
        border: 1px solid $primary-color;
        border-radius: 1vh;
        padding: 1vh;
    }
}