$primary-color: #333;
$active-btn-border: 1px solid $primary-color;
$inactive-btn-border: 1px solid #C0C0C0;

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 70vw;
    position: relative;
}
  
.slider {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    .content {
        display: grid;
        grid-gap: 16px;
        grid-auto-flow: column;
        margin: auto;
        box-sizing: border-box;
    }
    .slider__image {
        width: 15vw;
        background: #fff;
        border-radius: 1vw;
    }
}
.slider::-webkit-scrollbar {
    height: 0;
}

.slider__button-prev,
.slider__button-next {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(51, 51, 51, 0.2);
    -moz-box-shadow: 0px 0px 9px 3px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 0px 9px 3px rgba(51, 51, 51, 0.2);
    outline: none;
}
  
.slider__button-prev {
    top: 50%;
    left: -15%;
    transform: translate(50%, -50%);
}
  
.slider__button-next {
    top: 50%;
    right: -15%;
    transform: translate(-50%, -50%);
}

.slider__button-prev:enabled {
    background: #ffffff url("../../assets/images/prev.png") no-repeat center / 50% 50%;
    border: $active-btn-border;
}
.slider__button-prev:disabled {
    background: #ffffff url("../../assets/images/prev_inactive.png") no-repeat center / 50% 50%;
    border: $inactive-btn-border;
}

.slider__button-next:enabled {
    background: #ffffff url("../../assets/images/next.png") no-repeat center / 50% 50%;
    border: $active-btn-border;
}

.slider__button-next:disabled {
    background: #ffffff url("../../assets/images/next_inactive.png") no-repeat center / 50% 50%;
    border: $inactive-btn-border;
}